apiVersion: v1
kind: Service
metadata:
  name: bingsan
  labels:
    app: bingsan
    app.kubernetes.io/name: bingsan
    app.kubernetes.io/component: catalog
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8181
    targetPort: http
    protocol: TCP
  selector:
    app: bingsan
