@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

/* Source the fumadocs-ui package for Tailwind v4 */
@source '../node_modules/fumadocs-ui/dist/**/*.js';
